---
layout: page
title: Say Hello
permalink: /contact/
---

<hr/>
<div class="text-center">
    <h2>Social Media</h2>
    <div class="social-icons">

        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x outer"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </a>
        {% endif %}

        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x outer"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
        {% endif %}

        {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x outer"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </a>
        {% endif %}

    </div>
</div>

<h1></h1>

<div>
    <form class="well form-horizontal" action="https://formspree.io/musyokamorris@gmail.com" method="post"  id="contact_form">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input  name="name" placeholder="Name" class="form-control"  type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label">E-Mail</label>
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                    </div>
                </div>
            </div>

            <!-- Text area -->
            <div class="form-group">
                <label class="col-md-3 control-label">Message</label>
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea class="form-control" name="comment" rows="4" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>

            <!-- Success message -->
            <div class="alert alert-success hidden" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-7">
                    <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
