<footer class="site-footer">

  <div class="wrap">

    <p class="footer-heading">{{ site.description }}</p>

    <div class="social">

        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
            <span class="fa fa-github"></span>
            <span class="username">{{ site.github_username }}</span>
        </a>
        {% endif %}

        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa fa-twitter"></span>
            <span class="username">{{ site.twitter_username }}</span>
        </a>
        {% endif %}

        {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <span class="fa fa-linkedin"></span>
            <span class="username">{{ site.linkedin_username }}</span>
        </a>
        {% endif %}

    </div>


  </div>

</footer>
