<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">
      <span class="fa-stack">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-feed fa-stack-1x"></i>
      </span>
      {{ site.title }}
    </a>
    
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <span class="fa fa-feed"></span>
      </a>
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">Blog</a>
        {% for page in site.pages %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>

</header>
